<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.crawler.server.mapper.CrawlerShellMapper">
    <resultMap id="crawlerShell" type="com.bc.crawler.server.entity.CrawlerShell">
        <id column="shell_id" property="id" jdbcType="VARCHAR"/>
        <result column="shell_service_type" property="serviceType" jdbcType="VARCHAR"/>
        <result column="shell_path" property="path" jdbcType="VARCHAR"/>
        <result column="shell_create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="shell_modify_time" property="modifyTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="shellExecuteLog" type="com.bc.crawler.server.entity.ShellExecuteLog">
        <id column="log_id" property="id" jdbcType="VARCHAR"/>
        <result column="log_execute_type" property="executeType" jdbcType="VARCHAR"/>
        <result column="log_shell_service_type" property="shellServiceType" jdbcType="VARCHAR"/>
        <result column="log_execute_status" property="executeStatus" jdbcType="VARCHAR"/>
        <result column="log_content" property="content" jdbcType="VARCHAR"/>
        <result column="log_create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getCrawlerShellList" resultMap="crawlerShell" parameterType="map">
        select *
        from t_crawler_shell
    </select>

    <select id="getCrawlerShellByServiceType" resultMap="crawlerShell" parameterType="String">
        select *
        from t_crawler_shell
        where shell_service_type = #{serviceType}
    </select>

    <insert id="addCrawlerShell" parameterType="com.bc.crawler.server.entity.CrawlerShell">
        insert into t_crawler_shell
        (
        shell_id,
        shell_service_type,
        shell_path,
        shell_create_time,
        shell_modify_time
        )
        values
        (
        #{id},
        #{serviceType},
        #{path},
        now(),
        now()
        )
    </insert>

    <update id="updateCrawlerShell" parameterType="com.bc.crawler.server.entity.CrawlerShell">
        update t_crawler_shell
        set shell_path = #{path},
        shell_modify_time = now()
        where shell_id = #{id}
    </update>

    <delete id="deleteCrawlerShell" parameterType="String">
        delete from t_crawler_shell
        where shell_id = #{shellId}
    </delete>

    <insert id="addShellExecuteLog" parameterType="com.bc.crawler.server.entity.ShellExecuteLog">
        insert into t_shell_execute_log
        (
        log_id,
        log_execute_type,
        log_shell_service_type,
        log_execute_status,
        log_os_name,
        log_ip,
        log_content,
        log_create_time
        )
        values
        (
        #{id},
        #{executeType},
        #{shellServiceType},
        #{executeStatus},
        #{osName},
        #{ip},
        #{content},
        now()
        )
    </insert>

    <select id="getShellExecuteLogList" resultMap="shellExecuteLog" parameterType="map">
        select *
        from t_shell_execute_log
        where log_shell_service_type = #{serviceType}
        <if test="executeType != null and executeType != ''">
            and log_execute_type = #{executeType}
        </if>
        <if test="executeStatus != null and executeStatus != ''">
            and log_execute_status = #{executeStatus}
        </if>
        order by log_create_time desc
    </select>
</mapper>